$outline-primary: rgb(42, 241, 42);
$textColor: white;

body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#about-page {
  text-align: center;
  background-image: url(/day-3/img/code.jpg);
  height: 50vh;
  opacity: 0.8;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 17px;
  line-height: 1.6;
  p {
    font-weight: 600;
  }
  .btn {
    background-color: darken ($outline-primary);
    color: $textColor;
  }
}
